// typography

    // font

$basefont: 'Poppins', sans-serif;
$fontSize: 1.4rem;
$light: 300;
$reg: 400;
$med: 500;
$semiBold:600;
$bold: 700;
$extraBold: 800;

    // colors
$primary: #1a1a26;
$secondary : #888890;
$tertiary: #ffffff;
$quaternary: #a8edea;

    // other colors

        // video / shopNow
$action-outer: rgba(255, 154, 158, 0.3);
$action: #f07f84;

        // $ribbonColor
$hot: #ff9a9e;
$new: #79dad6;
$sale: #f6b895;


