header {
    width: 100%;
}

// header Nav

.headerNav,
.headerNav ul,
.headerLogo {
    @include flex; 
}

 
.headerLogo,
.headerIcons {
    flex: 0 1 33.33%;
    // width: 33.33%;
}

.mainMenu {
    flex: 1 0 33.33%;
}

.mainMenu a {
    color: $primary;
    @include hover {
        color: $secondary;
    }
}

.headerLogo {
    padding: 36px 0;
}

.mainMenu ul {
    justify-content: space-between;
}

.headerIcons ul {
    justify-content: flex-end;
    a {
        margin-left: 30px;
        color: $primary;
        display: block;
        @include hover {
            color: $secondary;
        }
    }
}

.cartIcon {
    position: relative;
    max-height: 100%;
}

.cartNumber {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $quaternary; 
    position: absolute; 
    top: -3px;
    left: 10px;
    @include flex;
    p {
        font-size: 10px;
        color: $primary;
    }
}

// header Hero

.heroCarousel {
    background-image: url(../images/headerHero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-size: cover;
    position: relative;
    @include flexCol;
    .heroArrows {
        width: 100%;
        padding: 0 20px;
        display: flex;
        flex-direction:row;
        justify-content: space-between;
    }
}

.heroText h2 {
        color: $secondary; 
}

.heroArrows img {
    transition: all 0.5s linear;
    @include hover {
        transform: scale(1.2);
    }
}

.heroAction {
    background: $action;
    width: 180px;
    height: 60px;
    @include flex;
    transition: all 0.5s linear;
    // margin-bottom: 28%;
    p {
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 600;
        font-size: 1.6rem;
    }
    @include hover {
        transform: scale(1.1);
    }
}
.carouselSlideIndicator {
    position: absolute;
    bottom: 20px;
    .indicatorContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-self: flex-end;
        .indicator {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $primary;
            margin: 5px 5px 20px;
        } 
    }    
}



.indicatorContainer .indicator:nth-of-type(2) {
    background-color: $secondary;
}