@import "partials/setup";
@import "partials/variables";
@import "partials/typography";
@import "partials/mixins";
@import "components/header";
@import "components/footer";


* {
    margin: 0;
    padding: 0;
    // border: 1px solid rgb(250, 234, 194);
}

// GENERAL STYLES

.wrapper {
    max-width: 1170px;
    width: 90%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.divider {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .third {
        height: 2px;
        width: 40px;
        background-color: $quaternary;
    }
}

.divider .third:nth-child(even) {
    background-color: #f5efef;
}


// ABOUT SECTION

.aboutHeader {
    padding-top: 70px;
    .aboutTitle {
    background-image: url("/images/plantBackground.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 0 50px 0;
    @include flexCol;
        h5 {
            color: $quaternary;
            text-align: center;
        }
    }
    .aboutText {
        max-width: 66.66%;
        text-align: center;
        margin: 35px auto;
        .aboutQuoteAttribution {
            margin: 20px 0;
            p {
                color: $primary;
                letter-spacing: 0.7px;
                span {
                    color: $secondary;
                    font-style: italic;
                    text-transform: capitalize;
                }
            }
        }
    }
}

.plantTypesGallery {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 4fr 3fr 3fr;
    grid-template-areas: 
        "air office house"
        "air container container";
}

.typesGalleryItem:first-child {
    grid-area: air;
    img {
        height: 100%;
    }
}

.typesGalleryItem:nth-child(2) {
    grid-area: office;
}

.typesGalleryItem:nth-child(3) {
    grid-area: house;
}

.typesGalleryItem:last-child {
    grid-area: container;
}


.typesGalleryItem {
    position: relative;
    display: inline-block;
    @include flex;
    .galleryOverlay {
        position: absolute;
        height: 90px;
        width: 220px;
        background: $tertiary;
        text-align: center;
        @include flexCol;
        h3 {
            text-transform: capitalize;
            color: $primary;
            // margin-top: 22px;
        }
        p {
            color: $secondary;
        }
    }
}

.galleryOverlay a {
    transition: all 0.5s linear;
    @include hover {
        transform: scale(1.1);
    }
}



// POPULAR PRODUCTS SECTION

.popularProducts {
    padding-top: 100px;
}
.popularProductsHeader {
    max-width: 34%;
    margin: 0 auto;
}

.popularProductsMenu {
    @include flex;
    justify-content: space-around;
        div {
            max-width: 33%;
            margin-bottom: 15px;
            @include hover {
                border-bottom: 1px solid $primary;
            }
        }
}

.popularProductsGallery ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
        margin: 10px 0;
    }
}

.ribbonHot {
    @include ribbon($hot);
}

.ribbonSale {
    @include ribbon($sale);
}
.ribbonNew {
    @include ribbon($new);
}

.productOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:rgba(26, 26, 38, 0.5);
    visibility: hidden;
    @include flex;
        form {
        width: 120px;
        height: 40px;
        background: $tertiary;
        @include flex;
        text-transform: uppercase;
            button {
                color: $secondary;
                border: none;
                background: $tertiary;
            }
        }
}

li:hover .productOverlay,
li:focus .productOverlay {
    visibility: visible;
}

.productImageGroup {
    position: relative;
}

.ribbonsOverlay {
    position: absolute;
    top: 0;
    right: 0;
        p {
            color: #fefeff;
        }
}

.productText p {
    color: $primary;
    text-align: center;
    line-height: 2;
        span {
            color: $secondary;
            text-decoration: line-through;
            padding-left: 14px;
        }
}
 

// FEATURETTES SECTION

.featurettes {
    // @include flex;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    // margin-top: none;
}

.customerTestimonials,
.featuredVideo {
    width: 50%;
    @include flexCol;
}

.customerTestimonials {
    background-image: url("/images/testimonialBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    .testimonialText {
        @include flexCol;
        width: 90%;
        padding: 15px;
        img {
            max-width: 100%;
        }
        .testimonial {
            line-height: 1.7 ;
            text-align: center;
            margin-top: 30px;
            font-weight: $med;
            font-style: italic;
            color: $primary;
            font-size: 1.2rem;
        }  
        .testimonialName {
            text-transform: uppercase;
            font-size: 1rem;
            letter-spacing: 0.5px;
        }
    }
}
.testimonialName,
.testimonialText h2,
.testimonialText img {
    margin-top: 20px;
}

.testimonialSlideIndicators {
    @include flex;
    padding-bottom: 40px;
    .testimonialIndicator {
        height: 40px;
        width: 40px;
        background-color: $secondary;
        border-radius: 50%;
        margin: 8px;
    }
    .testimonialIndicator:nth-child(2) {
        height: 60px;
        width: 60px;
        // border: 3px solid rgba(136, 136, 144, 0.5);
        box-shadow: 0 0 0 3px rgba(136, 136, 144, 0.4);
    }
}

.featuredVideo {
    background-image: linear-gradient(rgba(26, 26, 38, 0.5)), url("/images/plantStoreVideoStill.png")
    ;
    background-repeat: no-repeat;
    background-size: cover;
    .videoTitle {
        @include flex;
        margin: 10px 0;
        img {
            margin: 0 10px;
        }
    }
    p {
        color: $tertiary;
        text-transform: uppercase;
        letter-spacing: 1.1px;
        font-weight: $light;
        padding-bottom: 125px;
    }
}

.playButton {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: $action-outer;
    @include flex;
    margin-top: 125px;
    .innerButton {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        background: $action;
        transition: all 0.5s linear;
        @include flex;
        i {
            color: $tertiary;
        }
        @include hover {
            transform: scale(1.2)
        }
    }

}

// BLOG SECTION

.blog {
    margin-top: 60px;
    .blogPosts {
        // @include flex;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
            .post {
                width: calc(33.33%-20px);
                img {
                    width: 100%;
                }
            }
    }
}

.post:last-child {
    margin-left: 10px;
}

.post:first-child {
    margin-right: 10px;
}

.blogText {
   text-transform: capitalize;
   p {
       margin-top: 10px;
   }
   h4 {
       letter-spacing: 0.7px;
       padding: 10px 50px 10px 0;
   }
   a {
       display: block;
       p {
           display: inline-block; 
           border-bottom: 1px solid $primary;
        //    text-decoration: underline;
           color: $primary;
           font-weight: $med;
           
       }
   }
}

// NEWSLETTER SECTION

.newsletter {
    margin-top: 60px;
    .newsletterHeader {
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
        
    }
}

.newsletterForm {
    max-width: 75%;
    margin: 40px auto;
    border-bottom: 1px solid $secondary;
    position: relative;
    input[type=email] {
        padding: 10px 0;
        border: none;
    }
    button {
        border: none;
        background-color: $tertiary;
        position: absolute;
        right: 0;
        bottom: 5px;
    }
}

// PARTNERS
.partners {
    @include flex;
    justify-content: space-between;
    padding: 100px 0;
}


/* MEDIA QUERIES */

/* Portrait tablet and small desktops */

@media (max-width: 940px) {

    .typesGalleryItem .galleryOverlay {
        width: 190px;
        height: 70px;   
    }

    .productImageGroup {
        max-width: 90%;
    }

    .popularProductsHeader {
        max-width: 60%;
    }
    .popularProductsGallery ul {
        justify-content: space-evenly;
    }

    .featuredVideo {
        p {
            padding-bottom: 100px;
        }
        .videoTitle {
            width: 90%;
        }
    }   

    .playButton {
        height: 80px;
        width: 80px;
        margin-top: 100px;
        .innerButton {
            height: 60px;
            width: 60px;
        }
    }

    .blogText {
        h4 {
            padding: 5px 0;
        }
    }

    .partners {
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 30px 0;
        img {
            margin: 30px;
        }
    }

    .footerMain {
        flex-wrap: wrap;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .footerContact {
        max-width: 90%;
    }

    .footerServices,
    .footerAccount {
        max-width: 30%;
    }

    .footerInstagram {
        max-width: 38%;
    }
}

/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
    .headerNav {
        // @include flexCol;
        flex-wrap: wrap;
        padding-bottom: 20px;
    }

    .headerLogo {
        order: 1;
        flex: 1 1 90%;
    }

    .mainMenu {
        flex: 2 1 60%;
        order: 2;
    }

    .headerIcons {
        order: 3;
        flex: 1 1 35%;
            ul {

            }   
                a {
                    margin-left: 20px;
                }
    }


    .plantTypesGallery {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
         "air air" 
         "office house"
         "container container";
    }

    .typesGalleryItem:first-child {
        grid-area: air;
        img {
            height: 100%;
        }
    }

    .typesGalleryItem:nth-child(2) {
        grid-area: office;
    }

    .typesGalleryItem:nth-child(3) {
        grid-area: house;
    }

    .typesGalleryItem:last-child {
        grid-area: container;
    }


    .popularProductsMenu {
        @include flexCol;
    }

    .featurettes {
        @include flexCol;
    }

    .customerTestimonials,
    .featuredVideo {
        width: 100%;
    }

    .footerMain {
        justify-content: flex-start;
    }


    .footerServices,
    .footerAccount {
        max-width: 100%;
        margin-top: 20px;
        padding: 10px;
        border-top: 2px solid #e6e5e1;
        nav ul {
            @include flex;
            justify-content: space-between;
            flex-wrap: wrap;
            li {
                width: 33%;
            }
        }
    }


    .footerInstagram {
        max-width: 100%;
        margin: 0 auto;
        border-top: 2px solid #e6e5e1;
        margin-top: 20px;
        padding-top: 10px;
        .footerHeading {
            // margin-left: 3%;
        }
        .instagramGallery {
            justify-content: space-evenly;
            a {
                margin: 8px 15px;
            }
        }
        .creditCards {
            justify-content: center;
            img {
                margin: 20px;
            }
        }
    }

    .footerFooter {
        @include flexCol;
        text-align: center;
    }
}

/* Portrait phones and down */

@media (max-width: 480px) {

.headerNav {
    @include flexCol;
}

.mainMenu ul {
    flex-wrap: wrap;
    li {
        margin: 10px;
    }
}
.popularProductsHeader {
    max-width: 100%;
}

 .popularProductsMenu {
     width: 100%;
     @include flex;
     justify-content: space-around;
    //  div {
    //      margin: 0 10px;
    //  }
 }

.blog .blogPosts {
    @include flexCol;
}

.blogText {
    h4 {
        padding: 5px 0;
    }
    a p {
        margin-top: -10px;
        margin-bottom: 20px;
    }
}

.productOverlay {
    visibility: visible;
}

   
.footerMain {
    @include flexCol;
}

.footerServices,
.footerAccount {
    max-width: 100%;
    margin-top: 20px;
    padding: 10px;
    border-top: 2px solid #e6e5e1;
    nav ul {
        @include flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
            width: 50%;
            // margin-right: 0;
        }
        // li:nth-of-type(odd) {
        //     margin-right: 80px;
        // }
    }
}

.footerFooter {
    @include flexCol;
    text-align: center;
    div p {
        padding-bottom: 15px;
    }
}


}
