article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 10px;
  font-size: 62.5%; }

body {
  font-family: "Poppins", sans-serif;
  color: #1a1a26;
  font-size: 1.4rem; }

h1 {
  text-align: center;
  font-size: 6rem;
  font-weight: 500;
  text-transform: capitalize; }

h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 2.4rem;
  font-weight: 500; }

h3 {
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 0.3px; }

h4 {
  font-weight: 700;
  font-size: 1.6rem; }

h5 {
  text-transform: capitalize;
  color: #1a1a26;
  font-size: 1.3rem; }

p {
  color: #888890; }

.mainMenu a,
.aboutQuoteAttribution p {
  text-transform: uppercase;
  font-weight: 600; }

header {
  width: 100%; }

.headerNav,
.headerNav ul,
.headerLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.headerLogo,
.headerIcons {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.33%;
  flex: 0 1 33.33%; }

.mainMenu {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 33.33%;
  flex: 1 0 33.33%; }

.mainMenu a {
  color: #1a1a26; }
  .mainMenu a:hover, .mainMenu a:focus .mainMenu a:active {
    color: #888890; }

.headerLogo {
  padding: 36px 0; }

.mainMenu ul {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.headerIcons ul {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .headerIcons ul a {
    margin-left: 30px;
    color: #1a1a26;
    display: block; }
    .headerIcons ul a:hover, .headerIcons ul a:focus .headerIcons ul a:active {
      color: #888890; }

.cartIcon {
  position: relative;
  max-height: 100%; }

.cartNumber {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #a8edea;
  position: absolute;
  top: -3px;
  left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .cartNumber p {
    font-size: 10px;
    color: #1a1a26; }

.heroCarousel {
  background-image: url(../images/headerHero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .heroCarousel .heroArrows {
    width: 100%;
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.heroText h2 {
  color: #888890; }

.heroArrows img {
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear; }
  .heroArrows img:hover, .heroArrows img:focus .heroArrows img:active {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

.heroAction {
  background: #f07f84;
  width: 180px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear; }
  .heroAction p {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.6rem; }
  .heroAction:hover, .heroAction:focus .heroAction:active {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

.carouselSlideIndicator {
  position: absolute;
  bottom: 20px; }
  .carouselSlideIndicator .indicatorContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-item-align: end;
    align-self: flex-end; }
    .carouselSlideIndicator .indicatorContainer .indicator {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #1a1a26;
      margin: 5px 5px 20px; }

.indicatorContainer .indicator:nth-of-type(2) {
  background-color: #888890; }

.footerMain {
  border-top: 2px solid #e6e5e1;
  border-bottom: 2px solid #e6e5e1; }
  .footerMain p {
    text-transform: capitalize; }
  .footerMain a {
    display: block; }

.footerHeading {
  margin-bottom: 30px; }

.footerHeading::after {
  content: "";
  display: block;
  width: 40px;
  border-bottom: 2px solid #a8edea;
  margin-top: 10px; }

.footerMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-top: 100px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footerContact {
  max-width: 40%; }
  .footerContact img,
  .footerContact div {
    margin-bottom: 40px; }
  .footerContact p {
    text-transform: none; }
    .footerContact p span {
      font-weight: 600;
      color: #1a1a26; }
  .footerContact nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 50px; }
    .footerContact nav ul li {
      margin-right: 20px; }
    .footerContact nav ul a {
      color: #1a1a26; }

.footerContact li,
.footerServices li,
.footerAccount li {
  margin-bottom: 10px; }

.footerServices,
.footerAccount {
  max-width: 17%; }

.footerInstagram {
  max-width: 25%; }
  .footerInstagram .instagramGallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 40px; }
    .footerInstagram .instagramGallery a {
      max-width: 33%;
      margin-top: 10px; }
  .footerInstagram .creditCards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .footerInstagram .creditCards img {
      margin-right: 15px; }

.footerFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 0; }
  .footerFooter p {
    letter-spacing: 0.2px; }
    .footerFooter p span {
      font-weight: 500;
      color: #1a1a26; }

span.over {
  text-transform: uppercase;
  font-weight: 400;
  color: #888890; }

* {
  margin: 0;
  padding: 0; }

.wrapper {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto; }

img {
  max-width: 100%;
  display: block; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.divider {
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .divider .third {
    height: 2px;
    width: 40px;
    background-color: #a8edea; }

.divider .third:nth-child(even) {
  background-color: #f5efef; }

.aboutHeader {
  padding-top: 70px; }
  .aboutHeader .aboutTitle {
    background-image: url("../images/plantBackground.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 0 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .aboutHeader .aboutTitle h5 {
      color: #a8edea;
      text-align: center; }
  .aboutHeader .aboutText {
    max-width: 66.66%;
    text-align: center;
    margin: 35px auto; }
    .aboutHeader .aboutText .aboutQuoteAttribution {
      margin: 20px 0; }
      .aboutHeader .aboutText .aboutQuoteAttribution p {
        color: #1a1a26;
        letter-spacing: 0.7px; }
        .aboutHeader .aboutText .aboutQuoteAttribution p span {
          color: #888890;
          font-style: italic;
          text-transform: capitalize; }

.plantTypesGallery {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 4fr 3fr 3fr;
  grid-template-areas: "air office house" "air container container"; }

.typesGalleryItem:first-child {
  grid-area: air; }
  .typesGalleryItem:first-child img {
    height: 100%; }

.typesGalleryItem:nth-child(2) {
  grid-area: office; }

.typesGalleryItem:nth-child(3) {
  grid-area: house; }

.typesGalleryItem:last-child {
  grid-area: container; }

.typesGalleryItem {
  position: relative;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .typesGalleryItem .galleryOverlay {
    position: absolute;
    height: 90px;
    width: 220px;
    background: #ffffff;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .typesGalleryItem .galleryOverlay h3 {
      text-transform: capitalize;
      color: #1a1a26; }
    .typesGalleryItem .galleryOverlay p {
      color: #888890; }

.galleryOverlay a {
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear; }
  .galleryOverlay a:hover, .galleryOverlay a:focus .galleryOverlay a:active {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

.popularProducts {
  padding-top: 100px; }

.popularProductsHeader {
  max-width: 34%;
  margin: 0 auto; }

.popularProductsMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .popularProductsMenu div {
    max-width: 33%;
    margin-bottom: 15px; }
    .popularProductsMenu div:hover, .popularProductsMenu div:focus .popularProductsMenu div:active {
      border-bottom: 1px solid #1a1a26; }

.popularProductsGallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .popularProductsGallery ul li {
    margin: 10px 0; }

.ribbonHot {
  height: 20px;
  width: 40px;
  border-radius: 10px;
  background-color: #ff9a9e;
  text-align: center;
  text-transform: uppercase;
  color: #fefeff;
  z-index: 20;
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 5px 8px 0 8px; }

.ribbonSale {
  height: 20px;
  width: 40px;
  border-radius: 10px;
  background-color: #f6b895;
  text-align: center;
  text-transform: uppercase;
  color: #fefeff;
  z-index: 20;
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 5px 8px 0 8px; }

.ribbonNew {
  height: 20px;
  width: 40px;
  border-radius: 10px;
  background-color: #79dad6;
  text-align: center;
  text-transform: uppercase;
  color: #fefeff;
  z-index: 20;
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 5px 8px 0 8px; }

.productOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(26, 26, 38, 0.5);
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .productOverlay form {
    width: 120px;
    height: 40px;
    background: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase; }
    .productOverlay form button {
      color: #888890;
      border: none;
      background: #ffffff; }

li:hover .productOverlay,
li:focus .productOverlay {
  visibility: visible; }

.productImageGroup {
  position: relative; }

.ribbonsOverlay {
  position: absolute;
  top: 0;
  right: 0; }
  .ribbonsOverlay p {
    color: #fefeff; }

.productText p {
  color: #1a1a26;
  text-align: center;
  line-height: 2; }
  .productText p span {
    color: #888890;
    text-decoration: line-through;
    padding-left: 14px; }

.featurettes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 50px; }

.customerTestimonials,
.featuredVideo {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.customerTestimonials {
  background-image: url("../images/testimonialBackground.png");
  background-repeat: no-repeat;
  background-size: cover; }
  .customerTestimonials .testimonialText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 90%;
    padding: 15px; }
    .customerTestimonials .testimonialText img {
      max-width: 100%; }
    .customerTestimonials .testimonialText .testimonial {
      line-height: 1.7;
      text-align: center;
      margin-top: 30px;
      font-weight: 500;
      font-style: italic;
      color: #1a1a26;
      font-size: 1.2rem; }
    .customerTestimonials .testimonialText .testimonialName {
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: 0.5px; }

.testimonialName,
.testimonialText h2,
.testimonialText img {
  margin-top: 20px; }

.testimonialSlideIndicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 40px; }
  .testimonialSlideIndicators .testimonialIndicator {
    height: 40px;
    width: 40px;
    background-color: #888890;
    border-radius: 50%;
    margin: 8px; }
  .testimonialSlideIndicators .testimonialIndicator:nth-child(2) {
    height: 60px;
    width: 60px;
    -webkit-box-shadow: 0 0 0 3px rgba(136, 136, 144, 0.4);
    box-shadow: 0 0 0 3px rgba(136, 136, 144, 0.4); }

.featuredVideo {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 26, 38, 0.5))), url("../images/plantStoreVideoStill.png");
  background-image: -webkit-linear-gradient(rgba(26, 26, 38, 0.5)), url("../images/plantStoreVideoStill.png");
  background-image: -o-linear-gradient(rgba(26, 26, 38, 0.5)), url("../images/plantStoreVideoStill.png");
  background-image: linear-gradient(rgba(26, 26, 38, 0.5)), url("../images/plantStoreVideoStill.png");
  background-repeat: no-repeat;
  background-size: cover; }
  .featuredVideo .videoTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px 0; }
    .featuredVideo .videoTitle img {
      margin: 0 10px; }
  .featuredVideo p {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-weight: 300;
    padding-bottom: 125px; }

.playButton {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: rgba(255, 154, 158, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 125px; }
  .playButton .innerButton {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: #f07f84;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .playButton .innerButton i {
      color: #ffffff; }
    .playButton .innerButton:hover, .playButton .innerButton:focus .playButton .innerButton:active {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }

.blog {
  margin-top: 60px; }
  .blog .blogPosts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .blog .blogPosts .post {
      width: calc(33.33%-20px); }
      .blog .blogPosts .post img {
        width: 100%; }

.post:last-child {
  margin-left: 10px; }

.post:first-child {
  margin-right: 10px; }

.blogText {
  text-transform: capitalize; }
  .blogText p {
    margin-top: 10px; }
  .blogText h4 {
    letter-spacing: 0.7px;
    padding: 10px 50px 10px 0; }
  .blogText a {
    display: block; }
    .blogText a p {
      display: inline-block;
      border-bottom: 1px solid #1a1a26;
      color: #1a1a26;
      font-weight: 500; }

.newsletter {
  margin-top: 60px; }
  .newsletter .newsletterHeader {
    max-width: 80%;
    margin: 0 auto;
    text-align: center; }

.newsletterForm {
  max-width: 75%;
  margin: 40px auto;
  border-bottom: 1px solid #888890;
  position: relative; }
  .newsletterForm input[type=email] {
    padding: 10px 0;
    border: none; }
  .newsletterForm button {
    border: none;
    background-color: #ffffff;
    position: absolute;
    right: 0;
    bottom: 5px; }

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 100px 0; }

/* MEDIA QUERIES */
/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .typesGalleryItem .galleryOverlay {
    width: 190px;
    height: 70px; }
  .productImageGroup {
    max-width: 90%; }
  .popularProductsHeader {
    max-width: 60%; }
  .popularProductsGallery ul {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; }
  .featuredVideo p {
    padding-bottom: 100px; }
  .featuredVideo .videoTitle {
    width: 90%; }
  .playButton {
    height: 80px;
    width: 80px;
    margin-top: 100px; }
    .playButton .innerButton {
      height: 60px;
      width: 60px; }
  .blogText h4 {
    padding: 5px 0; }
  .partners {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 30px 0; }
    .partners img {
      margin: 30px; }
  .footerMain {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 20px; }
  .footerContact {
    max-width: 90%; }
  .footerServices,
  .footerAccount {
    max-width: 30%; }
  .footerInstagram {
    max-width: 38%; } }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .headerNav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 20px; }
  .headerLogo {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 90%;
    flex: 1 1 90%; }
  .mainMenu {
    -webkit-box-flex: 2;
    -ms-flex: 2 1 60%;
    flex: 2 1 60%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .headerIcons {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 35%;
    flex: 1 1 35%; }
    .headerIcons a {
      margin-left: 20px; }
  .plantTypesGallery {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "air air"  "office house" "container container"; }
  .typesGalleryItem:first-child {
    grid-area: air; }
    .typesGalleryItem:first-child img {
      height: 100%; }
  .typesGalleryItem:nth-child(2) {
    grid-area: office; }
  .typesGalleryItem:nth-child(3) {
    grid-area: house; }
  .typesGalleryItem:last-child {
    grid-area: container; }
  .popularProductsMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .featurettes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .customerTestimonials,
  .featuredVideo {
    width: 100%; }
  .footerMain {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .footerServices,
  .footerAccount {
    max-width: 100%;
    margin-top: 20px;
    padding: 10px;
    border-top: 2px solid #e6e5e1; }
    .footerServices nav ul,
    .footerAccount nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .footerServices nav ul li,
      .footerAccount nav ul li {
        width: 33%; }
  .footerInstagram {
    max-width: 100%;
    margin: 0 auto;
    border-top: 2px solid #e6e5e1;
    margin-top: 20px;
    padding-top: 10px; }
    .footerInstagram .instagramGallery {
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly; }
      .footerInstagram .instagramGallery a {
        margin: 8px 15px; }
    .footerInstagram .creditCards {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .footerInstagram .creditCards img {
        margin: 20px; }
  .footerFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; } }

/* Portrait phones and down */
@media (max-width: 480px) {
  .headerNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .mainMenu ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .mainMenu ul li {
      margin: 10px; }
  .popularProductsHeader {
    max-width: 100%; }
  .popularProductsMenu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .blog .blogPosts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .blogText h4 {
    padding: 5px 0; }
  .blogText a p {
    margin-top: -10px;
    margin-bottom: 20px; }
  .productOverlay {
    visibility: visible; }
  .footerMain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footerServices,
  .footerAccount {
    max-width: 100%;
    margin-top: 20px;
    padding: 10px;
    border-top: 2px solid #e6e5e1; }
    .footerServices nav ul,
    .footerAccount nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .footerServices nav ul li,
      .footerAccount nav ul li {
        width: 50%; }
  .footerFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
    .footerFooter div p {
      padding-bottom: 15px; } }
